<%- include ("header") -%>

<h1>Yolooooooooooooooooooooooooooooooo</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ea nobis reprehenderit tempora animi quaerat distinctio illum enim, eligendi perferendis necessitatibus quos sint minus? Provident, dolorum? Sint reprehenderit quae perferendis nulla aliquam sed maiores ad earum itaque quis culpa mollitia unde, magnam quas non facilis quia a architecto eaque nihil!</p>

<%- include ("footer") -%>